<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/index.html"><h2>Mae Horak</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="workDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Work
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="workDropdown">
                      <li><a class="dropdown-item" href="/pages/ohcbranding.html">Production Company Branding</a></li>
                        <li><a class="dropdown-item" href="/pages/emaildesign.html">Email Design</a></li>
                        <li><a class="dropdown-item" href="/pages/staticbranding.html">Musician/Band Design</a></li>
                        <li><a class="dropdown-item" href="/pages/ophelia.html">Ophelia Film Promo</a></li>
                        <li><a class="dropdown-item" href="/pages/naturecollection.html">Marketing Campaign</a></li>
                        <li><a class="dropdown-item" href="/pages/worksforme.html">Works For Me Film Promo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="mailto:maehorak@gmail.com">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  </header>
  